<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- 导航 -->
<body>

<!-- FOOTER -->
<footer th:fragment="copy">

</footer>

<div th:fragment="commonjs">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/js/bootstrap/jquery.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/utility/countDown.js}"></script>

</div>

</body>
</html>
