<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:include="header::common-foreground-header"></head>
<head>
    <title>全屋整装</title>
    <!--特有-->
    <link rel="stylesheet" th:href="@{/static/css/foreground/whole/whole_decoration_order.css}">
</head>

<body>

<!--顶部导航栏-->
<nav th:replace="navigator::navbar"></nav>

<!-- Modal -->
<div class="modal fade" id="standby-spus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="standby-spus-title"></h4>
            </div>
            <div class="modal-body" id="standby-spus-list">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img id="spu-preview-img" class="media-object spu-img">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="form-group" style="font-size: 20px;" id="product-name"></div>
                        <div id="attrs-container">

                            <div class="form-group">
                                <label>颜色：</label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="radio" name="颜色"> 红色
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="颜色"> 黄色
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消操作</button>
                <button type="button" class="btn btn-success" id="set-sku-to-item">保存所选</button>
            </div>
        </div>
    </div>
</div>


<div class="designwrap">
    <div class="ChooseMain">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span>下单前，请确认每个项目的SKU</span>
        </div>

        <div class="Ctitle">

            <span>全屋整装方案</span>
            <button id="save-or-date-whole-decoration" style="float: right" type="button"
                    class="btn btn-success btn-lg">
                &nbsp;确认整装订单&nbsp;</button>

        </div>

        <div class="CbtnGroup">

            <div class="navbar">
                <div class="navbar-inner">

                    <!--整装下单时的空间限定-->
                    <ul class="nav">
                        <li role="presentation" th:classappend="${iterStat.index} == 0?'active':''" th:each="space,iterStat : ${wholeDecorationSpaces}">
                            <a role="tab" data-toggle="tab" th:href="'#space_' + ${space.id}" th:text="${space.name}"></a>
                        </li>
                    </ul>

                </div>
            </div>


        </div>

        <div id="whole-decoration-sku-container" class="doubleList tab-content clearfix">

            <div role="tabpanel" class="tab-pane space-item-panel" th:classappend="${iterStat.index} == 0?' active':''" th:attr="space-id=${space.id}"
                 th:id="'space_' + ${space.id}" th:each="space,iterStat : ${wholeDecorationSpaces}">

                <div class="LgreyB"
                     th:text="${space.name} + '项目配置清单,共' +  ${space.wholeDecorationItemDtos.size()} +  '项'">
                    <div class="L1img" style="margin-left:150px;"><img
                            th:src="@{/static/images/innersrc/open.png}"/></div>
                </div>

                <hr>

                <div class="item-container" th:each="item,iterStat : ${space.wholeDecorationItemDtos}" >

                    <div class="item-sku-selected" th:attr="item-id=${item.id}">
                        <!--项目名称-->
                        <div class="levelOne clearfix">
                            <div style="font-size:18px;"><span th:text="${item.name}">项目名称</span></div>
                        </div>

                        <div class="leftList">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object spu-img">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 style="margin-top: 0">
                                        <span>商品名:</span>
                                        <span class="spu-name tip"></span>
                                    </h4>
                                    <p>
                                        <span>SPU:</span>
                                        <span class="selected-spu tip"></span>
                                    </p>
                                    <p>
                                        <span>SKU:</span>
                                        <span class="selected-sku tip"></span>
                                    </p>
                                    <p>
                                        <span>数量:</span>
                                        <span class="selected-sku-qty tip"></span>
                                    </p>
                                    <p class="attrs-container">

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rightShow clearfix">
                        <div class="RgreyB">
                            <div>备选SPU</div>
                            <div class="totalP" th:text="'共' + ${item.wholeDecorationSpus.size()} + '款商品'"></div>
                        </div>
                        <div class="rightList clearfix">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>SPU</th>
                                    <th>产品名称</th>
                                    <th>选择</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="spu,iterStat : ${item.wholeDecorationSpus}">
                                    <td th:text="${spu.spu}">spu</td>
                                    <td th:text="${spu.productName}">商品名</td>
                                    <td>

                                        <button th:id="${spu.spu}" type="button" class="btn btn-success btn-xs"
                                                data-toggle="modal"
                                                data-target="#standby-spus">选择
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<footer th:include="footer :: copy"></footer>
<div th:include="footer :: commonjs"></div>

<!--登录模态框-->
<div th:replace="foreground/login_dialog :: login_dialog"></div>
<script type="text/javascript" th:src="@{/static/js/utility/login-dialog.js}"></script>
<script type="text/javascript" th:src="@{/static/js/foreground/wholeOrder.js}"></script>


</body>
</html>