<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="manage/header :: bgcommonheader">
</head>
<head>
    <title>皇家共享 - 风格管理</title>
</head>

<body>

<nav th:replace="manage/nav :: navbar"></nav>

<div class="container-fluid">
    <div class="row">

        <nav th:replace="manage/menu :: menulist"></nav>

        <!-- 删除模态框 -->
        <div class="modal fade" id="delete-style" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">确定要删除该风格信息吗？</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default confirm-delete" id="">确认</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新增/修改模态框 -->
        <div class="modal fade" id="save-or-update" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增/保存风格信息</h4>
                    </div>

                    <form method="post" action="/backstage/style/save-or-update">
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-styleName">风格名称</span>
                                <input type="text" name="styleName" class="form-control" placeholder="请填写风格的名称"
                                       aria-describedby="basic-styleName">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-identifyOrder">排序</span>
                                <input type="text" name="identifyOrder" class="form-control" placeholder="显示时的排序依据，从大到小排序，留空时系统会默认设置为最大值"
                                       aria-describedby="basic-identifyOrder">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭窗口</button>
                            <button type="submit" class="btn btn-primary">保存修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header" th:text="${page_title}"></h2>

            <div class="row search-bar">
                <form method="get" action="/backstage/style/list.html">
                    <div class="col-lg-8">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#save-or-update">新增风格
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" name="styleName" class="form-control" placeholder="风格名" th:value="${productStyle.styleName}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">查找</button>
                        </span>
                        </div>
                    </div>
                </form>

            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>风格名称</th>
                        <th>排序标识</th>
                        <th>创建时间</th>
                        <th>可用操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item : ${pager.datas}">
                        <td th:text="${item.styleName}"></td>
                        <td th:text="${item.identifyOrder}"></td>
                        <td th:text="${#calendars.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <button th:id="${item.id}" type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                    data-target="#delete-style">删除
                            </button>
                        <td/>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div th:replace="pager :: pagerbar"></div>
        </div>
    </div>
</div>

<div th:include="manage/footer :: commonjs"></div>
<script th:src="@{/static/js/manage/style.js}"></script>

</body>
</html>
