<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="manage/header :: bgcommonheader">
</head>
<head>
    <title th:text="'皇家共享 - ' + ${page_title}"></title>
</head>

<body>

<nav th:replace="manage/nav :: navbar"></nav>

<div class="container-fluid">
    <div class="row">

        <nav th:replace="manage/menu :: menulist"></nav>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header" th:text="${page_title}"></h2>
            <div class="row search-bar">

                <form method="get" action="/backstage/whole-decoration/list.html">

                    <div class="col-lg-8">
                        <div class="btn-group" role="group" aria-label="...">
                            <a type="button" class="btn btn-success"
                               href="/backstage/whole-decoration/save.html">新增整装商品</a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="整装名称"  th:value="${wholeDecoration.name}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">查找</button>
                        </span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>整装名称</th>
                        <th>整装编号</th>
                        <th>风格</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${pager.datas}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.code}"></td>
                        <td th:text="${item.styleName}"></td>
                        <td th:text="${#calendars.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>暂无</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="pager :: pagerbar"></div>
        </div>
    </div>
</div>

<div th:include="manage/footer :: commonjs"></div>
</body>
</html>
