<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header::common-usercenter-header"></head>
<head>
    <title>商家中心</title>
    <!--特有-->
    <link rel="stylesheet" th:href="@{/static/css/foreground/usercenter/dashboard.css}">

</head>
<body>

<!--顶部导航栏-->
<nav th:replace="navigator::navbar"></nav>

<div>
    <div class="myCenter">

        <div th:replace="/foreground/menu::leftmenu"></div>

        <div class="rightTop">
            <span>商家中心</span>
        </div>

        <div class="rightBoth">
            <div class="rightMain">
                <div class="rightImg clearfix">
                    <img th:src="@{/static/images/innersrc/touxiang.png}"/>
                </div>

                <div class="rightWord">
                    <span th:text="${session.login_user.nickname}"></span>&nbsp&nbsp<span style="color:#808080;">欢迎来到皇家共享！</span>
                    <div class="safeGroup">
                        <div class="safeWord">安全等级：</div>

                        <div class="low">低</div>
                        <div class="low">中</div>
                        <div class="low">高</div>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                    <div class="orderGroup">
                        <div>代付款订单（0）</div>
                        <div class="rw">代收货订单（0）</div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>

<footer th:include="footer :: copy"></footer>
<div th:include="footer :: commonjs"></div>

</body>
</html>