<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hjgx.mapper.ProductStyleMapper" >
  <resultMap id="BaseResultMap" type="cn.hjgx.entity.ProductStyle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="style_name" property="styleName" jdbcType="VARCHAR" />
    <result column="identify_order" property="identifyOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, style_name, identify_order, create_time, update_time
  </sql>

  <select id="getMaxIdentifyOrder" resultType="java.lang.Integer" >
    select
    COALESCE(MAX(identify_order) + 1, 0)
    from t_portal_style
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_portal_style
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_portal_style
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hjgx.entity.ProductStyle" >
    insert into t_portal_style (id, style_name, identify_order, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{styleName,jdbcType=VARCHAR}, #{identifyOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.hjgx.entity.ProductStyle" >
    insert into t_portal_style
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="styleName != null" >
        style_name,
      </if>
      <if test="identifyOrder != null" >
        identify_order,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="styleName != null" >
        #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="identifyOrder != null" >
        #{identifyOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hjgx.entity.ProductStyle" >
    update t_portal_style
    <set >
      <if test="styleName != null" >
        style_name = #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="identifyOrder != null" >
        identify_order = #{identifyOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hjgx.entity.ProductStyle" >
    update t_portal_style
    set style_name = #{styleName,jdbcType=VARCHAR},
      identify_order = #{identifyOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 工具外自定义添加内容 -->
  <select id="getAllStyle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_portal_style
    ORDER BY identify_order DESC
  </select>

  <select id="selectByPageParam" resultMap="BaseResultMap" parameterType="cn.hjgx.entity.ProductStyle" >
    select
    <include refid="Base_Column_List" />
    from t_portal_style
    where 1 = 1
    <if test="styleName != null" >
    AND style_name like '%' ||  #{styleName,jdbcType=VARCHAR} || '%'
    </if>
  </select>

</mapper>