<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hjgx.mapper.WholeDecorationSpaceMapper" >
  <resultMap id="BaseResultMap" type="cn.hjgx.entity.WholeDecorationSpace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="preview_img_url" property="previewImgUrl" jdbcType="VARCHAR" />
    <result column="whole_decoration_id" property="wholeDecorationId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="BaseResultMapExtended" type="cn.hjgx.entity.paramDto.WholeDecorationSpaceDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="preview_img_url" property="previewImgUrl" jdbcType="VARCHAR" />
    <result column="whole_decoration_id" property="wholeDecorationId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, preview_img_url, whole_decoration_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_portal_whole_decoration_spaces
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_portal_whole_decoration_spaces
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hjgx.entity.WholeDecorationSpace" >
    insert into t_portal_whole_decoration_spaces (id, name, preview_img_url, 
      whole_decoration_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{previewImgUrl,jdbcType=VARCHAR}, 
      #{wholeDecorationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.hjgx.entity.WholeDecorationSpace" useGeneratedKeys="true" keyProperty="id">
    insert into t_portal_whole_decoration_spaces
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="previewImgUrl != null" >
        preview_img_url,
      </if>
      <if test="wholeDecorationId != null" >
        whole_decoration_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="previewImgUrl != null" >
        #{previewImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="wholeDecorationId != null" >
        #{wholeDecorationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hjgx.entity.WholeDecorationSpace" >
    update t_portal_whole_decoration_spaces
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="previewImgUrl != null" >
        preview_img_url = #{previewImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="wholeDecorationId != null" >
        whole_decoration_id = #{wholeDecorationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hjgx.entity.WholeDecorationSpace" >
    update t_portal_whole_decoration_spaces
    set name = #{name,jdbcType=VARCHAR},
      preview_img_url = #{previewImgUrl,jdbcType=VARCHAR},
      whole_decoration_id = #{wholeDecorationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByWholeDecorationId" resultMap="BaseResultMapExtended" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_portal_whole_decoration_spaces
    where whole_decoration_id = #{id,jdbcType=INTEGER}
  </select>

</mapper>