* {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.ACenter {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* 遮罩 */
.maskwrap {
    opacity: 0.5;
    background: #333;
    width: 100%;
    height: 100%;
    z-index: 1100;
    position: fixed;
    display: table;
}

/* 弹窗 */
.conterwrap {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.addbox {
    width: 697px;
    height: 370px;
    padding: 30px 40px 0;
    position: fixed;
    background: #ffffff;
    z-index: 1111;
    top: 50%;
    left: 50%;
    margin-top: -185px;
    margin-left: -350px;

}

.addbox select {
    width: 170px;
    height: 28px;
    margin-right: 5px;
    border: #ddd 1px solid;
}

.cha {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.short {
    float: left;
    margin-right: 24px;
    line-height: 34px;
}

.shortname {
    width: 80px;
    height: 28px;
    font-size: 14px;
    text-align: right;
    float: left;
    line-height: 28px;
}

.box-title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
}

.box-ipt-group {
    width: 617px;
    font-size: 14px;
}

.set-select {
    width: 161px;
    height: 28px;
    border-color: #cccccc;
}

.area-select .el-select:nth-child(4) {
    display: none;

}

.area-select .el-select:nth-child(2) {
    margin-left: 250px;
    width: 170px;
}

.area-select .el-select:nth-child(3) {
    position: absolute;
    left: 470px;
}

.area-select .el-select:nth-child(1) {
    position: absolute;
    margin-left: 70px;

}

.ads-det {
    width: 617px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}

.address select {
    width: 100px;
    height: 30px;
}

.addrFirst {
    width: 617px;
}

.addbox .ads-det textarea {
    height: 70px;
    background-color: #fff;
    padding: 9px;
    width: 530px;
    resize: none;
    border-color: #ddd;
    border-radius: 2px;

}

.person {
    width: 287px;
    float: left;

    /* margin-right: 30px; */
    /* margin-left: 15px; */
}

.person .shortname, .phone .shortname {
    height: 34px;
    line-height: 34px;
}

.phone {
    width: 287px;
    float: left;
    margin-left: 42px;
}

.person input, .phone input {
    width: 200px;
    height: 34px;
    border: 1px solid #ddd;
    padding: 5px;
}

.index-check {
    width: 100px;
    float: left;
    height: 20px;
    margin-top: 30px;
    margin-left: 72px;
    font-weight: normal !important;
    /* line-height: 20px; */
}

/* .index-check input{
   height: 15px;
   width: 15px;
   vertical-align: middle!important;
} */
.address-btn {
    float: left;
    width: auto;
    margin-top: 20px;
}

.btn-true {
    width: 140px;
    margin-left: 132px;
    line-height: 29px;
    font-size: 16px;
    color: #fff;
    background-color: #b4a176;
}

.btn-true:hover {
    color: #fff !important;
    background: #b4a176;
    opacity: 0.9;
}

.btn-false {
    width: 140px;
    margin-left: 25px;
    line-height: 29px;
    font-size: 16px;
    color: #fff;
    background-color: #cccccc;
}

.btn-false:hover {
    color: #fff !important;
    background: #b4a176;
    opacity: 0.9;
}

.rightMain {
    margin-left: 30px;
    margin-top: 50px;
}

.rightMid {
    height: 52px;
    width: 100%;
    line-height: 52px;
    padding-right: 50px;
}

.rightMid img {
    float: right;
    margin-right: 10px;
    margin-top: 21px;
}

.rightMid span {
    float: right;
    color: #333;
    font-size: 14px;

}

.rightList table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.rightList tr {
    width: 100%;
    height: 60px;
    border: 1px solid #e6e6e6;
}

.firstTr {
    background-color: #e6e6e6;
    font-size: 14px;
}

.firstTr th {
    text-align: center;
}

.rightList td img {
    margin-right: 10px;
}

.imgTd {
    width: 150px;
    padding-left: 10px;
    cursor: pointer;
}

.mint-switch-input:checked + .mint-switch-core {
    border-color: #b4a176;
    background-color: #b4a176;
}

.mint-switch-core::after {
    width: 19px;
    height: 19px;
}

.rightList td div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}