* {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.ACenter {
    width: 1200px;
    margin: 0 auto;
}

.rightBoth {
    width: 1024px;
    margin: auto;
}

.rightTop {
    width: 100%;
    height: 52px;
    border: 1px solid #e6e6e6;
    border-left: 3px solid #b4a176;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 20px;
    color: #333;
    line-height: 52px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.liucheng {
    width: 400px;
    height: 50px;
    position: absolute;
    right: 0;
    margin-top: 32px;
}

.lcBtnGroup {
    height: 25px;
    width: 100%;
    padding-left: 20px;
}

.lcBtnGroup div {
    float: left;
}

.lcBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #808080;
    color: white;
    text-align: center;
}

.lcLine {
    width: 100px;
    border-top: 1px solid #808080;
    margin: 10px 10px 0px 10px;

}

.lcWordGroup {
    display: flex;
}

.lcWord {
    font-size: 12px;
    color: #808080;
    flex: 1
}

.rightDown {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 10px 30px;
    margin-bottom: 30px;

}

.rightDtop {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;

}

.getAdress div {
    float: left;
    margin-left: 10px;
    vertical-align: middle;
}

.getAdress img {
    margin-right: 10px;
}

.getAdress .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
}

.getPerson .getNameBox {
    width: 90px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;

    margin-top: 0;
}

.getPerson {
    margin: 5px;
    padding: 5px;
}

.getPerson div {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.getPerson .indexAdress {
    width: 68px;
    height: 22px;
    background: #b4a176;
    text-align: center;
    line-height: 22px;
    color: white;

}

.wordSize {
    font-size: 16px;
    color: #ff0000;
}

.bankTitle {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;
}

.bankMation {
    width: 100px;
    height: 30px;
    border: 2px solid #b4a176;
    text-align: center;
    line-height: 26px;
    margin: 10px 0 10px 10px;
    font-size: 16px;
}

.totalTitle {
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    padding-left: 34px;
}

.tableTitle {
    background: #EBEDF0;
    height: 48px;
    line-height: 48px;

}

.tableTitle div {
    float: left;
    text-align: center;
}

.tTStyle {
    width: 155px;

}

.dingdanTable {
    width: 100%;
}

.BackList {
    border: 1px solid #e6e6e6;
}

.BL1group {
    width: 52%;
    height: 100px;

}

.BLwordG {
    width: 300px;
    color: #808080;
    float: left;
}

.BLwordG div {
    line-height: 25px;
}

.BL1img {
    margin-left: 31px;
    margin-right: 44px;
    float: left;
}

.BL2 {
    line-height: 100px;
    text-align: center;
    width: 16%;
}

.btnGroup {
    width: 500px;
    height: 50px;
    margin: 50px auto;
}

.setBtn1 {
    width: 124px;
    height: 40px;
    background: #F5991c;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    float: left;
    margin-left: 90px;
}

.setBtn2 {
    width: 124px;
    height: 40px;
    background: #cccccc;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    float: left;
    margin-left: 28px;
}

.adminText {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 34px;
    height: 130px;
    border: 1px solid #e6e6e6;

}

.adminText span {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.adminText textarea {
    width: 800px;
    height: 90px;
    background: #F2F2F2;
    resize: none;
    padding: 9px;
    border: none;
}

.wantDate {
    height: 80px;
    border-bottom: 2px solid #e6e6e6;
    padding-left: 34px;
    padding-top: 14px;
}

.wantDate span {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.wantDate div {
    float: left;
}

.wantDate input {
    width: 166px;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
}

.computeTotal {
    height: 175px;
    padding-top: 20px;
}

.Tprice {
    float: right;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 50px;
}

.CTcompute {
    float: right;
    font-size: 16px;
    width: 180px;
}

.CTcompute div {
    margin: 0 auto;
}

.CTcompute .ctname {
    display: inline-block;
    width: 85px;
    height: 30px;
    text-align: right;
}

label{
    font-weight: normal;
    cursor: pointer;
}

.tlistImg{
    width: 150px;
    height:85px;
}

