<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 公共头 -->
<body>

<header th:fragment="common-foreground-header">
    <!-- 公共 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/foreground/common/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/foreground/common/footer.css}">
</header>

<header th:fragment="common-usercenter-header">
    <!-- 公共 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="favicon" rel="shortcut icon" th:href="@{/static/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/foreground/common/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/foreground/common/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/foreground/common/leftnav.css}">
</header>

</body>
</html>
