<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar">
    <div class="fixback clearfix"></div>
    <header>
        <div class="topheader" style="position:fixed;z-index:998;">
            <ul>
                <li th:if="${session.login_user != null} ">
                    <span th:text="'欢迎回来[' + ${session.login_user.nickname}+']'"></span>
                    <a href="/userlogin/dologout">退出登录</a>
                </li>

                <li th:if="${session.login_user == null} ">
                    <a href="/user/login.html">登录</a>
                </li>

                <li><a href="/usercenter/dashboard.html">商家中心</a></li>

                <li class="last"><a><img th:src="@{/static/images/innersrc/phone.png}"/> 客服热线：4008-099-931</a></li>
            </ul>
        </div>
        <div class="wrapfix">
            <a href="/"><img th:src="@{/static/images/innersrc/index-logo.png}" class="header-logo"/></a>
            <div class="kouhao">皇家品质<br/>共享资源</div>
            <div class="header-menu">
                <div class="navbar">
                    <div class="navbar-inner">

                        <ul class="nav">
                            <li  class="active"><a href="/">首页</a></li>
                            <li><a href="/decoration.html">全屋整装</a></li>
                            <li><a href="/contract.html">关于我们</a></li>
                            <li><a id="code" href="#">关注公众号<img style="margin-left:2px;" src="/static/images/innersrc/downloadAPP.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="erweima" style="display:none;"><img th:src="@{/static/images/innersrc/erweima1.png}"
                                                                alt="加入我们"/></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>

</div>
</body>
</html>