<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="manage/header :: bgcommonheader">
</head>
<head>
    <title th:text="'皇家共享 - ' + ${page_title} "></title>
</head>

<body>

<nav th:replace="manage/nav :: navbar"></nav>

<div class="container-fluid">
    <div class="row">

        <nav th:replace="manage/menu :: menulist"></nav>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header" th:text="${page_title}"></h2>

            <div class="row search-bar">
                <form method="get" action="/backstage/whole-decoration-order/list.html">
                    <div class="col-lg-8">
                        <!--<div class="btn-group" role="group" aria-label="...">-->
                            <!--<button type="button" class="btn btn-success" data-toggle="modal"-->
                                    <!--data-target="#save-or-update">新增品牌-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>

                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" name="orderNo" class="form-control" placeholder="订单号" th:value="${wholeDecorationOrder.orderNo}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">查找</button>
                        </span>
                        </div>
                    </div>
                </form>

            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>整装订单号</th>
                        <th>状态</th>
                        <th>下单账户</th>
                        <th>创建时间</th>
                        <th>可用操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item : ${pager.datas}">
                        <td th:text="${item.orderNo}"></td>
                        <td th:text="${item.status} == 0?'待付款':'其他'"></td>
                        <td th:text="${item.username}"></td>
                        <td th:text="${#calendars.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <button th:id="${item.id}" type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                    data-target="#change-status">修改状态
                            </button>
                        <td/>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div th:replace="pager :: pagerbar"></div>
        </div>
    </div>
</div>

<div th:include="manage/footer :: commonjs"></div>

</body>
</html>
